<%- include('../partials/header.ejs') %>

<h3>
    <%= book.name %>
</h3>

<h3>Book Detail Page</h3>

<ul>
    <% books.books.forEach(function(book) { %>
        <li>
            <form action="/books/<%= book.id %>/<%= book.id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form>
            <a href="/library/<%= book.id %>">
                <%= book.name %>
            </a>
        </li>
        <% }); %>
</ul>

<form action="/books/<%= book.id %>" method="POST">
    <input type="text" name="name">
    <button type="submit">Add Details</button>
</form>

<a href="/books/<%= book.id %>/edit">Edit</a>

<%- include('../partials/footer.ejs') %>




<!---
<div class="pokemon-container">
    <div class="card" style="width: 18rem;">
        <img src="<%= pokemon.sprites.front_default %>" class="card-img-top" alt="<%= pokemon.name %>">
        <div class="card-body">
            <h5 class="card-title">
                <%= pokemon.name %>
            </h5>
            <p class="card-text">
                <%= book.name %> is <%= book.types[0].type.name %> type Pokemon
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <% pokemon.abilities.forEach(function(ability) { %>
                <li class="list-group-item">
                    <%= ability.ability.name %>
                </li>
                <% }); %>
        </ul>
    </div>
</div>
 -->
<%- include('../partials/footer.ejs') %>